---
import "../components/corestyles.css";

import Nav from "../components/Nav.astro";

import Footer from "../components/Footer.astro";

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/siteicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Site Builder</title>
    </head>
    <body>
        <Nav />
        <slot />
    </body>

</html>

